html {                  /* phone */
  font-size: 90%;
  }
.weather-box {   
  flex-direction: column;
  }
.nav {
  width: 75%;
  max-width: 25.5rem;
  }
.citylist {
  margin-right: 1rem;
  float: right;
  }
.menu {
  float: left;
  }
@media screen and (min-width: 768px) {  /* tablet */
  html {
    font-size: 125%;
    }
  .container {
    max-width: 1024px;
    } 
  .main, .heading {   
    flex-direction: row;
    justify-content: space-around;
    -webkit-justify-content: space-around; 
    padding: 0 5rem;
    }
  .buttons {
    padding: 0 0 1rem 5rem;
    max-width: 20rem;
    }
  .WXimage {
    padding-left: 9rem;
    max-width: 50%;
    }
  .trigger {
    left: 5.4rem;
    }
  .banner {
    margin-top: 1.5rem;
    }
  }  
