@charset "UTF-8";
/*   Dave Dover
	 Final Project
	 May 11, 2016    */
.container {
  overflow: hidden;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 0 auto;
  padding: 0; 
  background-color: #e6f3ff;
  position: relative; 
  }
.current-weather {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  color: #0000ff;
  }
.footer {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  }
.forecast-weather {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  }
.main, .heading {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between; 
  }
 .heading {
  margin: .2rem 1rem;
  }
.weather-box, .buttons {
  margin: 0 2rem;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  }
.buttons {
  margin: 0 1.5rem 0 3rem;
  padding-bottom: 1rem;
  max-width: 15rem;
  }
.forecast {
  margin: 0;
  }
.current-data {
  margin: .3rem;
  padding: 0;
  height: 1rem;
  font-weight: 300;
  font-size: 120%;
  }
.banner, .section-label, .location, .DateTime {
  color: #8a0000;
  padding: .1rem 0;
  margin: .1rem;
  text-align: center;
  }
.banner {
  font-family: calibri, Arial, sans-serif;
  font-size: 170%;
  font-weight: 800;
  } 
.section-label {
  font-size: 120%;
  font-weight: 600;
  font-style: italic;
  padding: .3rem 0 .2rem 0;
  } 
.location, .DateTime {
  font-weight: 300;
  font-size: 140%;
  vertical-align: middle; 
  } 
tr {
  height: 1.3rem;
  padding: .2rem;
  }
td {
  padding: 0 .4rem;
  font-size: 85%;
  }
th {
  padding: 0 .7rem .4rem .4rem;
  font-weight: 600;
  }
table {
  margin: .5rem 0 0 .1rem;
  }	
img {
  width: 100%;
  height: auto;
}

.nav {
  list-style: none;
  background-color: #f7f790;
  padding: .5rem;
  position: absolute;
  height: 100%;
  width: 60%;
  transform: translate(-100%,0);
  transition: transform 0.5s;
}
.nav a {
  color: #0000ff;
  text-decoration: none;
}
.menu, .citylist {
  max-width: 12rem;
  }
.trigger {
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  position: relative;
  left: .4rem;
  margin: 0;
  }
.xTrigger {
  display: none;
  }
.container.nav-is-open .nav {
  transform: translate(0,0);
}
.WXimage {
  margin: .3rem 2.5rem;
  max-width: 25%;
  }
