@charset "UTF-8";
/*   Dave Dover
	 Final Project
	 May 11, 2016    */
.container {
  overflow: hidden;
  max-width: 350px;
  margin: 0 auto 0 auto;
  padding: 0;
  background-color: azure;
  }
.current-weather {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  color: blue;
  }
.display-box, .buttons{
  margin: 0 2rem;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  }
.buttons {
  margin: 0 1rem;
  padding: 0 0 1rem 0;
  }
.current-data {
  margin: .3em;
  padding: 0;
  height: 1em;
  font-weight: 300;
  font-size: 120%;
  }
h1, h2, h3 {
  color: #8a0000;
  vertical-align: middle; 
  padding: .1rem 0;
  text-align: center;
  }
h1 {
  font-family: calibri, Arial, sans-serif;
  font-size: 170%;
  font-weight: 800;
  } 
h2 {
  font-weight: 300;
  font-size: 140%;
  vertical-align: middle; 
  } 
h3 {
  font-size: 120%;
  font-weight: 600;
  font-style: italic;
  padding: .5rem 0 .2rem 0;
  } 
h4 {
  font-size: 120%;
  font-weight: 300;
  } 
tr {
  height: 1.3rem;
  padding: .2rem;
  }
td {
  padding: 0 .5rem;
  }
th {
  padding: 0 .4rem .4rem .4rem;
  font-weight: 600;
  }
table {
  margin: .5rem 0 0 .1rem;
  }	
.nav {
  list-style: none;
  background-color: #f7f790;
  padding: .5rem;
  position: absolute;
  height: 100%;
  width: 55%;
  transform: translate(-100%,0);
  transition: transform 0.5s;
}
.nav a {
  color: blue;
  text-decoration: none;
}
.delete  a{
  color: red;
  }
.trigger {
  color: #000;
  font-size: 1.5rem;
  text-decoration: none;
  position: absolute;
  left: .4em;
  }
.container {
  position: relative;
} 
.container.nav-is-open .nav {
  transform: translate(0,0);
}